{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if form.errors_message %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{{ form.errors }}

<form method="post" action="{% url leocornus.django.ploneproxy.views.login %}">
<table><tbody>
<tr>
  <td colspan="2">
    <a href="{% url leocornus.django.ploneproxy.views.mailPassword %}">{% trans 'Forgot Password' %}</a>
    <a href="{{ lang_link }}">{{ lang_name }}</a>
  </td>
</tr>
<tr>
  <td>
    <label for="id_username">Username:</label>
    {{ form.username.errors }}
  </td>
  <td>
    {{ form.username }}
  </td>
</tr>
<tr>
  <td>
    <label for="id_password">Password:</label>
    {{ form.password.errors }}
  </td>
  <td>
    {{ form.password }}
  </td>
</tr>
<tr>
  <td>
    <input type="checkbox" name="accept_disclaimer"/>
  </td>
  <td>
    {% trans 'Yes, I accept the disclaimer' %}
  </td>
</tr>
</tbody></table>
        
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
<input type="hidden" name="ldp_lang" value="{{ ldp_lang }}" />
</form> 

{% endblock %}
