{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if invalid_fields %}
  <p>{% trans 'All fields must be filled in' %}</p>
{% endif %}
{% if invalid_cred %}
  <p>{% trans "Your username and password didn't match. Please try againa." %}</p>
{% endif %}


<form method="post" action="{% url leocornus.django.ploneproxy.views.login %}">
<table><tbody>
<tr>
  <td colspan="2">
    <a href="{% url leocornus.django.ploneproxy.views.mailPassword %}">{% trans 'Forgot Password' %}</a>
    <a href="{{ lang_link }}">{{ lang_name }}</a>
  </td>
</tr>
<tr>
  <td>
    <label for="id_username">{% trans 'Username' %}:</label>
  </td>
  <td>
    {{ form.username }}
  </td>
</tr>
<tr>
  <td>
    <label for="id_password">{% trans 'Password' %}:</label>
  </td>
  <td>
    {{ form.password }}
  </td>
</tr>
</tbody></table>
        
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
<input type="hidden" name="ldp_lang" value="{{ ldp_lang }}" />
</form> 

{% endblock %}
