{% extends "base.html" %}
{% load i18n %}

{% block content %}

<table><tbody>
<tr>
  <td>
    <a href="{{ lang_link }}">{{ lang_name }}</a>
  </td>
</tr>
</tbody></table>

{% if confirm_mail_password %}
  <!-- show confirm message -->
  {% trans 'Password reset confirmation sent' %}
  <!-- details message here -->
{% else %}
  <!-- description goes here -->
  <form method="post"
        action="{% url leocornus.django.ploneproxy.views.mailPassword %}">
  <table><tbody>
  <tr>
    <td>
      <h3>Lost Password</h3>
      <p>
        For security reasons, we store your password encrypted,
        and cannot mail it to you. If you would like to reset your password,
        fill out the form below and we will send you an email at the
        address you gave when you registered to start the process of
        resetting your password.
      </p>
    </td>
  </tr>
  <!-- error message here -->
  {% if error %}
  <tr>
    <td>
      {% if no_userid %}
        {% trans 'please provide username to start password reset!' %}
      {% endif %}
      {% if invalid_userid %}
        {% trans 'the username you entered could not be found!' %}
      {% endif %}
      {% if invalid_url %}
        {% trans 'the url seems not corret, please double check and try again!' %}
      {% endif %}
    </td>
  </tr>
  {% endif %}
  <tr>
    <td>
      <label for="id_userid">My Username is:</label>
      <input type="text" name="userid" id="id_userid" value="{{ userid }}"/>
      <input type="submit" value="{% trans 'Start password reset' %}" />
    </td>
  </tr>
  <tr>
    <td>
      If this will not work for you (for example, if you forgot your
      user name or your email address has changed), contact the
      site administration.
    </td>
  </tr>
  </tbody></table>

  <input type="hidden" name="next" value="{{ next }}" />
  <input type="hidden" name="ldp_lang" value="{{ ldp_lang }}" />

  </form>
{% endif %}

{% endblock %}
