{% extends "base.html" %}
{% load i18n %}

{% block content %}

<table><tbody>
<tr>
  <td>
    <a href="{{ lang_link }}">{{ lang_name }}</a>
  </td>
</tr>
</tbody></table>

{% if errors_message %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if confirm_mail_password %}
  <!-- show confirm message -->
  {% trans 'Password reset confirmation sent' %}
  <!-- details message here -->
{% else %}
  <!-- description goes here -->
  <form method="post"
        action="{% url leocornus.django.ploneproxy.views.mailPassword %}">
  <table><tbody>
  <tr>
    <td colspan="2">
      <!-- error message here -->
      {% if invalid_userid %}
        {% trans 'the username you entered could not be found!' %}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_userid">My Username is:</label>
    </td>
    <td>
      <input type="text" name="userid" id="id_userid"/>
    </td>
  </tr>
  </tbody></table>

  <input type="submit" value="{% trans 'Start password reset' %}" />
  </form>
{% endif %}

{% endblock %}
