{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if confirm_password_reset %}
  <!-- show confirm message -->
  {% trans 'password reset successfully' %}<br/>
  <a href='{{ redirect_link }}'>{{ redirect_link }}</a>
  <!-- details message here -->
{% else %}

  <table><tbody>
  <tr>
    <td>
      <a href="{{ lang_link }}">{{ lang_name }}</a>
    </td>
  </tr>
  </tbody></table>

  <!-- description goes here -->
  <form method="post"
        action="{% url leocornus.django.ploneproxy.views.passwordReset %}">
  <table><tbody>
  <tr>
    <td>
      <h3>{% trans "Set your password" %}</h3>
      <p>
        {% trans "Set your password description" %}
        Please fill out the form below to set your password.
      </p>
    </td>
  </tr>
  <!-- error message here -->
  {% if error %}
  <tr>
    <td>
      {% if no_userid %}
        {% trans 'please provide username to start password reset!' %}
      {% endif %}
      {% if no_password %}
        {% trans 'please provide new password!' %}
      {% endif %}
      {% if invalid_userid %}
        {% trans 'the username you entered could not be found!' %}
      {% endif %}
      {% if invalid_url %}
        {% trans 'the url seems not corret, please double check and try again!' %}
      {% endif %}
      {% if password_no_match %}
        {% trans 'please provide password now match each other!' %}
      {% endif %}
      {% if password_reset_fail %}
        {% trans 'error setting password' %}
      {% endif %}
    </td>
  </tr>
  {% endif %}
  <tr>
    <td>
      <label for="id_userid">{% trans "My Username is" %}:</label><br/>
      <input type="text" name="userid" id="id_userid" value="{{ userid }}"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_password1">{% trans "New Password" %}:</label><br/>
      <input type="password" name="password1" id="id_password1"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_password2">{% trans "Confirm Password" %}:</label><br/>
      <input type="password" name="password2" id="id_password2"/>
    </td>
  </tr>
  <tr>
    <td>
      <input type="submit" value="{% trans 'Set my password' %}" />
    </td>
  </tr>
  </tbody></table>

  <input type="hidden" name="next" value="{{ next }}" />
  <input type="hidden" name="token" value="{{ token }}" />
  <input type="hidden" name="ldp_lang" value="{{ ldp_lang }}" />

  </form>
{% endif %}

{% endblock %}
